@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --VerydarkbluemainBG: hsl(217, 54%, 11%);
  --VerydarkbluecardBG: hsl(216, 50%, 16%);
  --Verydarkblueline: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Outfit', sans-serif;
  background-color: var(--VerydarkbluemainBG);
  padding: 1.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  background-color: var(--VerydarkbluecardBG);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 15px;
  max-width: calc(375px - 1.5rem);
  position: relative;
}

.equilibrium-image{
  border-radius: 8px;
  margin-bottom: 1.2rem;
}

h1{
  color: var(--White);
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

h1:hover{
  color: var(--Cyan);
  cursor: pointer;
}

main > p{
  color: var(--Softblue);
  font-weight:300;
  margin-bottom: 1.2rem;
}

.data-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.ethereum-div,
.clock-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.ethereum-div span{
  color: var(--Cyan);
}

.clock-div span{
  color: var(--Softblue);
  font-weight:300;
}

hr{
  opacity: 0.1;
  margin-bottom: 1rem;
}

.avatar-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.avatar-div img{
  width: 2rem;
  border: 1px solid var(--White);
  border-radius: 50%;
}

.avatar-div p{
  color: var(--Softblue);
  font-weight:300;
}

.avatar-div p span{
  color: var(--White);
}

.avatar-div p span:hover{
  color: var(--Cyan);
  cursor: pointer;
}

.view-layer{
  position: absolute;
  background-color: var(--Cyan);
  opacity: 0;
  width: 303px;
  height: 303px;
  border-radius: 8px;
  transition: 0.9s;
  
}

.view-icon{
  position: absolute;
  top: 151px;
  left: 151px;
  z-index: -1;
  transition: 0.3s;
}


.view-layer:hover{
  opacity: 0.5;
  cursor: pointer;
  transition: 0.9s;
}

.view-layer:hover + .view-icon{
   z-index: 2;
   transition: 0.9s;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  color: var(--Softblue); 
}

.attribution a { 
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution a:hover{
  color: var(--Cyan);
  cursor: pointer;
}